<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Proyek IoT Monitoring Suhu dan Kelembaban DHT11"
    />
    <meta name="author" content="Laurensius Dede Suhardiman" />
    <link rel="icon" href="../../favicon.ico" />
    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/3.3/examples/starter-template/"
    />
    <title>Internet of Things Project : NOdeJS - NodeMCU - DHT11</title>
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/starter.css" rel="stylesheet" />
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Monitoring Suhu dan Kelembaban</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Monitoring</a></li>
            <li><a href="/grafik">Grafik</a></li>
            <!-- <li><a href="/tabel">Tabel</a></li> -->
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="starter-template">
        <h1>Monitoring</h1>
        <p class="lead">
          Monitoring kondisi suhu dan kelembaban <br />Update terbaru pada
          <span id="datetime"></span>
        </p>
      </div>
    </div>
    <div class="container">
      <div class="rows">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Suhu Sensor 1 : <strong id="suhu_1"></strong> <sup>o</sup>
              </div>
            </div>
            <div class="panel-body">
              <canvas id="gauge_suhu_1" style="width:100%;"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Kelembaban Sensor 1 : <strong id="kelembaban_1"></strong> %
              </div>
            </div>
            <div class="panel-body">
              <canvas id="gauge_kelembaban_1" style="width:100%;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="rows">
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Suhu Sensor 2 : <strong id="suhu_2"></strong> <sup>o</sup>
              </div>
            </div>
            <div class="panel-body">
              <canvas id="gauge_suhu_2" style="width:100%;"></canvas>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                Kelembaban Sensor 2 : <strong id="kelembaban_2"></strong> %
              </div>
            </div>
            <div class="panel-body">
              <canvas id="gauge_kelembaban_2" style="width:100%;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/gauge.js"></script>
    <script src="/assets/js/monitoring_gauge.js"></script>
  </body>
</html>
